body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: white;
	font-size: 120%;
	color: black;
	line-height: 1.5;
        /*background-image:url('https://s3.amazonaws.com/ohrs-aws/static/InTheDepths-dark.jpg'); */
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

#lista-servidores {
     list-style-type:square;
}

.titulo-principal {
	text-align: center;
	/*background-color: #e6ac00;*/
	/*background-color: #cc0000;*/
	background-color: #004d4d;
	color: white;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

p {
	text-align: center;
	margin: 20px 0;
}

.navegacao-site {
	text-align: center;
	background-color: #3c1d3d;
	color: #f2fffc;
}

.rodape-pagina {
	background-color: #010101;
	color: #777777;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.navegacao-site, .rodape-pagina {
    padding: 20px;
}

.container {
	margin: auto;
	width: 720px;
	padding: 30px 0;
}

#wip {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
	display: inline-block;
}

nav a {
	text-transform: lowercase;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

/*
main {
	float: left;
	width: 85%;
	padding-bottom: 80px;
}
*/

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
}

.navegacao-site {
	width: 15%;
	position: relative;
	top: 310px;
}
